<!DOCTYPE html>
<html>
<head>
  <title>Fixed blog</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Fixed blog</h1>
		<p>Welcome to my fixed blog. Don't hack it again!</p>
		<header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/new">New post</a></li>
					<% if (user) { %>
						<li><a href="/logout">Logout</a></li>
					<% } else { %>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
					<% } %>
				</ul>
			</nav>
		</header>
		<div class="row">
			<div class="col-md-8">
				<% for (let i = 0; i < posts.length; i++) { %>
					<div class="post">
						<h2><a href="/post/<%= posts[i].id %>"><%= posts[i].title %></a></h2>
						<p><%= posts[i].content %></p>
					</div>
				<% } %>
			</div>
		</div>
</body>
</html>
